# Supabase
SUPABASE_URL=https://cthvxzqmmpentaqgmrie.supabase.co
SUPABASE_KEY=sb_secret_FKYxe1Fu64Y12YJcAwv_mQ_4h-zLBRX

# X (Twitter) OAuth 2.0
X_CLIENT_ID=6t3OfQXcRzoGCXJYCVV4Q7MKL
X_CLIENT_SECRET=OW7S9bPrDCRvE4ICiVjeTlVvNQ2atPiEXsKItIoDeRX1UPFkqb
X_REDIRECT_URI=https://nextous-api-398367759968.us-central1.run.app/auth/x/callback

# Gemini API
GEMINI_API_KEY_1=AIzaSyAl3eQh8iI98NtzD6njYnv-O9vZILjRNNs
GEMINI_API_KEY_2=AIzaSyDyD90BdGS92o8CUoEQm77XVvhUrt-WNAQ
GEMINI_API_KEY_3=AIzaSyCsTXmy0l8Vspq-kTzObpKTd6Pt4t5I_ME
GEMINI_API_KEY_4=AIzaSyAe_J4FV2oYR4kfasKjCvEhxZ10Ul3SAjw
GEMINI_API_KEY_5=AIzaSyD61I09_YOyX-KMS08J0SI8EkGsMa5EndI
GEMINI_API_KEY_6=AIzaSyBfjccpWTUqOR1P1YJBACuLsYw6foi-xwc

EXA_API_KEY_1=4efc0ed7-8a4b-4508-9745-f06d10aa6534
EXA_API_KEY_2=4aef1d84-79ee-4e03-8447-78f452f5434d
EXA_API_KEY_3=82fdf3b5-b00a-44e9-8baa-1f0aabf3042a
EXA_API_KEY_4=f949c721-d6d3-4d1d-9737-27ff0469eff3
EXA_API_KEY_5=a5cf317b-e738-495c-9dfa-b3474a66594c
EXA_API_KEY_6=9817800a-14ef-45f0-851d-17e2d3a9723d


# App settings
APP_URL=https://nextous-api-398367759968.us-central1.run.app


X_ACCESS_TOKEN=1387857775733006336-U4Oo5ArXwvyRm11WAGJkd4xaffMIDu
X_SECRET_ACCESS_TOKEN=KNeqqrlh8a4yIcAtjILchhJ7zow0VzzhUVch8QKqnUb9a
#X_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAGoN5gEAAAAAw5bp8%2Fzm4BGrsN8gMUwYQ5cBU7o%3DGUIBmoV2gWy2uqKKzN7NQSt0utMeO5AEE10sQXlDz9zy7jzU2t